<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% from "includes/_formhelpers.html" import render_field %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 15px;
    }
</style>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Eleições 2019-2020</h1>
            <p>Eleições virtuais para a Escola Vergílio Ferreira.</p>
        </div>
    </div>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <table class="table" style="width:90%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lista</th>
                            <th scope="col">Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista in listas %}
                        <tr>
                            <td>Lista {{lista}}</td>
                            <td>{{listas[lista]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8">
                <p>Todos os votos são automaticamente registados aqui.</p>
                <p>O seu voto ficará anónimo durante as Eleições.</p>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="container">
                {% include 'includes/_messages.html' %} {% block body %}{% endblock %}
            </div>
            {% endwith %}
            <form method="POST" action="">
                <div class="form-group">
                    {{render_field(form.numero, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.listaselecao, class_="form-control")}}
                </div>
                <p>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </p>
            </form>
        </div>
    </div>
</body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Escola Vergílio Ferreira</p>
</div>

</html>
